// Buttons
.btn {
  color: #fa5c65;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  margin-top: 30px;
}
