.s-portfolio {
  display: flex;
  justify-content: space-between;

  @include max-w(550px) {
    flex-direction: column;
  }

  &-img-block {
    width: 45%;
    padding-top: 20px;
    padding-bottom: 20px;

    @include max-w(550px) {
      width: 100%;
    }
  }

  &-text-block {
    width: 45%;

    @include max-w(550px) {
      width: 100%;

    }

    &__title {
      color: $title-color;
      font-size: 40px;
      line-height: 46px;
    }
    &__subtitle {
      color: $text-color3;
      font-size: 16px;
      line-height: 20px;
      font-weight: $font-weight-bold;
    }

    &__descr {

    }
  }
}

.person-block {
  margin-top: 20px;
  margin-bottom: 20px;
}
